:root {
  /* Кольори макету */
  /* Текст */
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #fff;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colorHover: #2196f3;
  /* Фон */
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
  --colorBorder: #eee;
  /* Шрифти макету */
  --fontFamilyPrimary: "Roboto", sans-serif;
}

body {
  font-family: var(--fontFamilyPrimary);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextPrimary);
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* =============================Header============================== */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--colorTextSecondary);
}
.nav-link:hover,
.header-contacts-link:hover {
  color: var(--colorHover);
}

/* ============================Hero================== */
.hero {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextTertiary);
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colorTextTertiary);
  background-color: var(--colorHover);
}
/* ============================Advantages================== */
.advantages {
  padding-top: 95px;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantage {
  max-width: 270px;
}
.advantage-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantage-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorTextSecondary);
}
/* ============================Work&Team================== */
.work {
  padding-top: 95px;
  padding-bottom: 95px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}
.team {
  background-color: var(--colorBackgroundSecondary);
  padding-top: 95px;
  padding-bottom: 95px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  max-width: 270px;
}
.teammate {
  padding-bottom: 30px;
  background-color: var(--colorTextTertiary);
  border-radius: 0 0 4px 4px;
}
.teammate-photo {
  margin-bottom: 30px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.teammate-position {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextSecondary);
}

/* ============================Portfolio================== */
.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.portfolio-nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.portfolio-nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackgroundSecondary);
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-nav-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--colorHover);
  color: var(--colorTextTertiary);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-meta {
  border: 1px solid var(--colorBorder);
  border-top: 0;
  padding: 20px 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--colorTextSecondary);
}

/* ===============================Footer======================= */
.footer {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contacts-address {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorTextTertiary);
  font-style: normal;
}
.footer-contacts-link {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorTextAdditional);
}
